{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <a href="{% url 'accounts:profile' article.user.username %}" style="text-decoration: None; color: black;"><b>👤 작성자 | {{ article.user }}</b></a>
    {% comment %} <p><b>👤 작성자 | {{ article.user }}</b></p> {% endcomment %}
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>

    <div>
      <form action="{% url 'articles:likes' article.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
          {% comment %} <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button> {% endcomment %}
          <button type="submit" style="border: None; background-color: white;"><i class="fa fa-heart" style="color: crimson;"></i></button>
        {% else %}
          {% comment %} <button type="submit" class="btn btn-secondary btn-sm"><i class="fa fa-heart"></i></button> {% endcomment %}
          <button type="submit" style="border: None; background-color: white;"><i class="fa fa-heart"></i></button>
        {% endif %}
      </form>
    </div>

    <p>{{ article.like_users.all|length }}명이 이 글을 좋아합니다.</p>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
{% endblock content %}
